 <div class="container" ng-controller="SignupController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST">
                        <input type="hidden" name="_token" value="oauGocBvECUQscCOfvq9Nnrz4GwJZiuCDu9Yo1Cd">

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" ng-model="email" type="email" class="form-control" name="email" value="">

                                                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" ng-model="password" type="password" class="form-control" name="password">

                                                            </div>
                        </div>
                         <!--   
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" ng-click="login()" class="btn btn-primary">
                                    <i class="fa fa-btn fa-sign-in"></i> Login
                                </button>

                               <!-- <a class="btn btn-link" href="http://dev1.shop.com/password/reset">Forgot Your Password?</a> -->
                            </div>
                        </div>
                            <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="alert alert-danger" ng-show="error"> Invalid Credentials </div>
                            </div>
                            </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>